<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to create a custom Madlib!</h1>
    <form action="/result" method="post">
    <label for="adj1">Adjective</label>
    <input id="adjective1" name="adjective1" type="text">
    <label for="food1">Type of food</label>
    <input id="food1" name="food1" type="text">
    <label for="vegetable1">Type of vegetable</label>
    <input id="vegetable1" name="vegetable1" type="text">
    <label for="food2">Type of food</label>
    <input id="food2" name="food2" type="text">
    <label for="vegetable2">Type of vegetable (plural)</label>
    <input id="vegetable2" name="vegetable2" type="text">
    <label for="verb1">Verb</label>
    <input id="verb1" name="verb1" type="text">
    <label for="verb2">Verb</label>
    <input id="verb2" name="verb2" type="text">
    <label for="vegetable3">Type of vegetable (plural)</label>
    <input id="vegetable3" name="vegetable3" type="text">
    <label for="vegetable4">Type of vegetable (plural)</label>
    <input id="vegetable4" name="vegetable4" type="text">
    <label for="verb3">Verb</label>
    <input id="verb3" name="verb3" type="text">
    <button type="submit">Go!</button>
    </form>
  </body>
</html>


